<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后端测试html,前端做好后,请直接替换此html</title>
</head>
<body>
<button><a href={% url 'CheckIn:SelectLocation' '12345'%}>1</a></button>
<button><a href={% url 'CheckIn:SelectLocation' '23333'%}>2</a></button>
<button><a href={% url 'CheckIn:SelectLocation' '54322'%}>3</a></button>
<button><a href={% url 'CheckIn:SelectLocation' '123'%}>4</a></button>
<button><a href={% url 'CheckIn:SelectLocation' '123456'%}>5</a></button>
</body>
</html>