<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后端测试html,前端做好后,请直接替换此html</title>
</head>
<body>
   <label>进入第0层</label>
   {% if room_dict %}
       <label>传入的值有效</label>>
{% for i in room_dict %}
    <label>进入第一层</label>
    {% with room_floor=i %}
        {% for j in room_floor %}
            <label>进入第二层</label>
            <button>
                <a href={% url 'CheckIn:SelectLocation' j.room_id%}>
                    {{j.room_id}}
                </a>
            </button>
        {% endfor %}
    {% endwith %}
    <br/>
{% endfor %}
   {% endif %}
<button><a href={% url 'CheckIn:SelectLocation' '12345'%}>1</a></button>

</body>
</html>