<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=gbk">
    <title>房间位置</title>
    <link rel="stylesheet" href="{% static 'css/position.css' %}">
</head>
<body style="background-image: url({% static "img/bkg.png" %});">>
<div>
    <a href={% url 'CheckIn:Index' %}>
        <button class="button1">返回首页</button>
    </a>
</div>
<div class="div1">
{% for i in room_dict %}
    {% with room_floor=i %}
        {% for j in room_floor %}
            <button class="button" style="vertical-align:middle">
            <span>
                <a  class="a1" href={% url 'CheckIn:SelectLocation' j.room_id%}>
                    {{j.room_id}}
                </a>
                </span>
            </button>
        {% endfor %}
    {% endwith %}
    <br/>
{% endfor %}
</div>

</body>
</html>