<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoomType</title>
    <link rel="stylesheet" href="css/roomType.css">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
	<!-- 房型菜单 -->
	<section class="portfolio">
		<div class="container">
			<div class="banner-section">
                <img src="pic/banner.png" id="banner"/>
				<h3 class="bannerText">选择<span>  房型</span></h3>
			</div>
			<div class="row mt-4">
				<div class="col-md-4">
					<div class="gallery-demo">
						<a href="#gal1">
							<img src="pic/roomType1.png" alt=" " class="img-fluid" />
							<h4 class="p-mask">高级大床房  <span>￥689</span></h4>
						</a>
					</div>
				</div>
				<div class="col-md-4 mt-md-0 mt-4">
					<div class="gallery-demo">
						<a href="#gal2">
							<img src="pic/roomType2.png" alt=" " class="img-fluid" />
							<h4 class="p-mask">豪华双人大床房  <span>￥789</span></h4>
						</a>
					</div>
				</div>
				<div class="col-md-4 mt-md-0 mt-4">
					<div class="gallery-demo">
						<a href="#gal3">
							<img src="pic/roomType3.png" alt=" " class="img-fluid" />
							<h4 class="p-mask">尊贵大床房  <span>￥889</span></h4>
						</a>
					</div>
				</div>
            </div>

		</div>
	</section>

	<!-- 弹窗-->
	<!-- 房型1弹窗 -->
	<div id="gal1" class="pop-overlay">
		<div class="popup">
			<img class="img-popup" src="pic/roomType1.png" alt="">
            <h4 class="p-mask">高级大床房 - - <span>￥689</span></h4>
            <h5 class="typeintro">入住两人|含早餐|免费使用WIFI<br/></h5>
			<button class="orderButton"><a href={% url 'CheckIn:SelectRoomType' 'roomType1''%} >现在预定</a></button>
			<a class="close" href="#gallery">×</a>
		</div>
	</div>

	<!-- 房型2弹窗 -->
	<div id="gal2" class="pop-overlay">
		<div class="popup">
			<img class="img-popup" src="pic/roomType2.png" alt="">
            <h4 class="p-mask">豪华双人大床房 - - <span>￥789</span></h4>
            <h5 class="typeintro">入住两人|含两人份早餐|免费使用WIFI<br/>免费使用健身房<br/></h5>
            <button class="orderButton"><a href={% url 'CheckIn:SelectRoomType' 'roomType2'%} >现在预定</a></button>
			<a class="close" href="#gallery">×</a>
		</div>
	</div>

	<!-- 房型3弹窗 -->
	<div id="gal3" class="pop-overlay">
		<div class="popup">
			<img class="img-popup" src="pic/roomType3.png" alt="">
            <h4 class="p-mask">尊贵大床房 - - <span>￥889</span></h4>
            <h5 class="typeintro">入住两人|含早餐|免费使用WIFI<br/>赠SPA体验|免费使用健身房<br/></h5>
			<button class="orderButton"><a href={% url 'CheckIn:SelectRoomType' 'roomType3'%} >现在预定</a></button>
			<a class="close" href="#gallery">×</a>
		</div>
	</div>


	
</body>

</html>