<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=gbk">
        <title>欢迎界面</title>
        <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    </head>
    <body style="background-image: url({% static "img/bkg.png"%});">
        <div>
            <h1 id="title">
                欢迎使用酒店服务系统
            </h1>
            <h4 id="title1">
                请首先使用扫脸功能认证您的身份
            </h4>
            <button type="button" id="button">
                <a href="scan/">扫脸认证</a>
            </button>
        </div>
        
    </body>

</html>